@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(122, 120, 120);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 222, 222);
}

.cabecalho{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
    width: 320px;
    margin: 100px auto 0px auto;
    perspective: 900px;
}

.carrossel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 20s infinite forwards linear;
}

.imagem {
    position: absolute;
    width: 290px;
    height: 187px;
    top: 40px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    border: outset 3px rgb(94, 25, 25);
}

.imagem span {
    margin: auto;
    font-size: 1em;

}

.imagem:nth-child(1) {
    background-image: url(https://www.stockvault.net/data/2008/12/01/106663/preview16.jpg);
    transform: rotateY(0deg) translateZ(430px);
}

.imagem:nth-child(2) {
    background-image: url(https://www.stockvault.net/data/2010/03/12/113221/preview16.jpg);
    transform: rotateY(40deg) translateZ(430px);
}

.imagem:nth-child(3) {
    background-image: url(https://www.stockvault.net/data/2010/03/12/113208/preview16.jpg);
    transform: rotateY(80deg) translateZ(430px);
}

.imagem:nth-child(4) {
    background-image: url(https://www.stockvault.net/data/2014/12/12/166067/preview16.jpg);
    transform: rotateY(120deg) translateZ(430px);
}

.imagem:nth-child(5) {
    background-image: url(https://www.stockvault.net/data/2020/11/23/281012/preview16.jpg);
    transform: rotateY(160deg) translateZ(430px);
}

.imagem:nth-child(6) {
    background-image: url(https://www.stockvault.net/data/2016/09/25/210981/preview16.jpg);
    transform: rotateY(200deg) translateZ(430px);
}

.imagem:nth-child(7) {
    background-image: url(https://www.stockvault.net/data/2017/02/22/225333/preview16.jpg);
    transform: rotateY(240deg) translateZ(430px);
}

.imagem:nth-child(8) {
    background-image: url(https://www.stockvault.net/data/2012/06/03/131417/preview16.jpg);
    transform: rotateY(280deg) translateZ(430px);
}

.imagem:nth-child(9) {
    background-image: url(https://www.stockvault.net/data/2013/08/13/147229/preview16.jpg);
    transform: rotateY(320deg) translateZ(430px);
}

footer.rodape{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.2em;
    text-align: center;
}